/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/

.top-bar {
  background: #308e24;
  height: 2.8rem;
  padding: .5rem 0; 
}

.top-bar a {
  color: white; 
  text-decoration: none;
  font-size: 1.1rem;
}

/* Top Bar Responsiveness under 310px */

@media (max-width: 310px) { 
  .top-bar a {
      font-size: 0.8rem;
    }
}

@media (max-width: 246px) { 
  .top-bar a {
      font-size: 0.6rem;
    }
}

/*============= NAVIGATION =============*/

 .navbar-brand img {
  height: 4rem; 
}

.navbar {
  font-size: 1.15rem; 
  font-weight: 600; 
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,0.1);
  z-index:1000; 
}

.nav-item {
  padding: .5rem;
}

.nav-link {
  color: black!important;
}

.nav-link.active,
.nav-link:hover {
  color: #308e24!important;
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
}

.carousel-inner {
  max-height: 38rem!important;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active,
.carousel-item-next-2,
.carousel-item-prev-2 {
  transition: transform 1.2s ease; 
}

.carousel-control-next,
.carousel-control-prev {
  width: 20vw!important;
  height: 20vw!important;
  position: absolute;
  top: 280px;
  color: #308e24!important;
}
/*-- Carousel Content --*/

.carousel-caption {
  position: absolute;
  top: 54%; 
  transform: translateY(-50%);
}

.bg-custom {
  background-color: rgba(0,0,0,.6);
  color:white; 
  border-radius: 1rem; 
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,1);
}

.border-primary {
  border-top: .2rem solid #308e24!important;
}

.border-primary2 {
  border: .2rem solid #308e24!important;
  
}

.carousel-caption h3 {
  font-size: 1.8rem;
  text-shadow: .1rem .1rem .2rem rgba(0,0,0,1);
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem; 
  border-width: medium; 
}

.btn-primary {
  background-color: #308e24;
  border: .05rem solid #308e24;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #000000;
  border: .05rem solid #000000;
}

/* Services */ 

.services-container img {
  max-width: fit-content;
  max-height: fit-content;
}

/* Testimonials section */

.bg-dark{
  background-color: #222222!important;
}

.testimonial {
  background-color: rgb(10, 10, 10);
}

.testimonials img {
  max-width: 520px;
  max-height: 350px; 
}

/* End Testimonials section */

/*============= FOOTER =============*/

footer {
  background-color: #383838; 
  padding: 1rem 2rem 1.5rem;
}

footer img {
  height: 3.5rem; 
  margin: 1.5rem auto;
}

footer p, footer a, .socket a {
  color: white; 
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem; 
  margin: 0 auto; 
  padding: 0; 
}

ul.social li {
  margin:0 auto; 
}

footer .svg-inline--fa {
  font-size: 2.3rem; 
}

footer .svg-inline--fa:hover {
  color: #308e24;
}

/*============= SOCKET =============*/

.socket {
  background-color: #222222;
  border-top: .1rem solid #308e24;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  
  .carousel-caption h3 {
    font-size: 1.8rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  
  .carousel-caption h3 {
    font-size: 1.5rem;
  }

  .btn-lg{
    font-size: 0.95rem;
  }

  .nav-span {
    display: none; 
  }
}

/* Devices over 992px (lg) */
@media (min-width: 991.98px) {
  .carousel-caption {
    top: 45%; 
  }
}

/* Devices over 1399px (xxl) */
@media (min-width: 1400px) {
  .carousel-item img {
  object-position: 0 -100px!important; 
  }
}


/* Devices under 700px*/
@media (max-width: 700px) {
  .carousel-control-next,
  .carousel-control-prev 
{
  top: 200px;
  }
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
